*{
    scroll-behavior : "smooth";
}

.container_nb{
    background-color: transparent;
    display: flex;
    width: 100%;
    justify-content: center;
    height:150px;
}

.innerCon{
    width:600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button_nb{
    background-color: transparent;
    border-radius: 20px;
    color:white;
    font-family: 'Prompt';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
border: none;
cursor: pointer;
transition: 0.5s steps(100);
padding: 10px 10px;
}

.button_nb:hover{
    border-radius: 20px;
    color:black;
    background-color: white;
}

.con_button_nb{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 30px 50px;
gap: 8px;
position: absolute;
top:30px;
left : 1150px;

background: #141727;
border: 1px solid #141727;
border-radius: 6px;

font-family: 'Mulish';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;
cursor: pointer;
}

.a_link{
    text-decoration: none;
    color:white;
}

.a_blink{
    text-decoration: none;
    color:white;
    transition: 1s all;
}

.a_blink:hover{
    color:black;
}

.button_div{
    /* height: 50px; */
}

.img_logo{
    position: absolute;
    left:200px;
    top:50px;
    height: 50px;
    border-radius: 10px;
}