@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

.sdiv{
  background-color: #010415;
  margin-top: -20px;
  position: absolute;
  top: 1550px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sh2{
  font-family: "Prompt";
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 79px;
  /* identical to box height */
  color: #ffffff;
}

.sh3{
    font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  font-size: 20px;
  background: linear-gradient(90deg, #1ED7B5 3.98%, #F0F9A7 98.07%);;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.imgsdiv{
  width: 1000px;
  height: 600px;
  margin-top: 50px;
  background-size: 1010px 600px;
  background-image: url("./images/solution.png");
  image-resolution: 1000px 700px;
}
