.memberSection{
  position: absolute;
  top : 3970px;
  width:100%;
}


.Member {
  width: 246px;
  height: 324px;
  display: inline-block;
  background: rgba(20, 23, 39, 0.4);
  backdrop-filter: blur(2.5px);
  border: 0px solid;
  border-radius: 10px;
}

.Harsh {
  position: absolute;
  width: 110px;
  height: 110px;
  left: 68px;
  top: 38px;
}

.V{
  margin: 0 20px 127px 198px;
}
.N{
  margin: 0 20px 127px 0;
}
.H{
  margin: 0 20px 127px 0;
}
.S{
  margin: 0 198px 127px 0;
}
.heading {
  color: white;
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 600;
  font-size: 52px;
  line-height: 79px;
  display: block;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 56px;
}

.intro {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  display: block;
  text-align: center;
  color: #1ED7D5;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 24px;
  padding-bottom: 48px;
}

.name {
  color: white;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  align-items: center;
  text-align: center;
  padding: 173px 38px 0px 38px;
}

.work {
  color: #F0F9A7;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 0 34px 82px 34px;
}

.image-section {
  background-image: url("./images/Bg.png");
}

.image {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  padding: 264px 107px 28px 107px;
}

body {
  margin: 0;
  background-color: #141727;
}

